footer.footer
  .footer__logo
    img(src='/img/creatures.png' alt='Natour logo')
  ul.footer__nav
    //- li: a(href='#') Email
    //- li: a(href='#') Facebook
    //- li: a(href='#') Instagram

  p.footer__copyright &copy; 2020 | By Himanshu Pahuja